<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Login Google and Facebook
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col size="5">
        <ion-img class="picture" [src]="picture"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-text>
          {{ name }}
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-text>
          {{ email  }}
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="buttonsContainer">
    <ion-button expand="block" color="google" (click)="loginGoogle()">
      <ion-icon name="logo-google"></ion-icon>
      Iniciar Sesión con Google
    </ion-button>
    <div class="ion-margin-top"></div>
    <ion-button expand="block" color="facebook" (click)="loginFacebook()">
      <ion-icon name="logo-facebook"></ion-icon>
      Iniciar Sesión con Facebook
    </ion-button>
  </div>
</ion-content>
